{% extends 'Front/base.html.twig'  %}
{% block content %}
<div class="card">


        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
        <em>{{ article.createatt | date('Y-m-d') }}</em>
        <p>{{ article.Category.title }}</p>
        <p>{{ article.tag.title }}</p>

</div>
{% endblock content %}