{% extends 'Front/base.html.twig'  %}
{% block content %}
{% for article in articles %}

        <div class="card">

            <a href="{{ path('article', {id: article.id}) }}">
                <h1>{{ article.title }}</h1>
                <img src="{{ asset('upload/'~ article.imageFilename) }}">
                <p>{{ article.content }}</p>
                <em>{{ article.createatt | date('Y-m-d') }}</em>
            </a>
        </div>

{% endfor %}
{% endblock content %}