{% extends 'base.html.twig' %}

{% block content %}
    <div class="card">

        <p style="background-color:{{ tag.color }}">{{ tag.title }}</p>
        <p>{{ tag.color }}</p>
        <p>{{ tag.id }}</p>

        {% for article in tag.articles %}
        <p>{{ article.title }}</p>
        {% endfor %}

    </div>
{% endblock content %}